{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}


<section class="profile row col s12 m12">
    {%include 'user-dashboard-sidebar.html'%}
    <div class="profile__right col s12 m9">
        <h6 class="profile__right_title">Edit Ads</h4>
        <div class="profile__right_wrap row col s12 m12">

   
            <form class="form row col s12" method="POST" action="" enctype="multipart/form-data" id="productForm" data-cities-url="{% url 'productMS:ajax_load_subcat' %}">
                {% csrf_token %}
                <div class="profile__right_wrap row col s12 m12">
                    <div class="profile__right_details col s12 m9">
                        <div class="profile__right_wrapDetail row s12 m12" style="margin-bottom: 0; padding-bottom: 0;">
                            <div class="profile__right_detail col s12 m5">
                              <fieldset class="form__inputWrapper">	
                                {{  productForm.name| add_class:"form__input" |attr:"type:text" }}
                                <label class="form__label">Product Name</label>
                              </fieldset>
                            </div>
                            <div class="col m1"></div>
                            <div class="profile__right_detail col s12 m5">
                              <fieldset class="form__inputWrapper">	
                                {{  productForm.price| add_class:"form__input" |attr:"type:number" }}
                                <label class="form__label">Price (Rs.)</label>
                              </fieldset>
                            </div>
                        </div>
            
                        <div class="profile__right_wrapDetail row s12 m12">
                          <div class="profile__right_detail col s12 m5">
                            <fieldset class="form__inputWrapper">
                              {{productForm.category | add_class:"form__input browser-default" }}
                              <label class="form__label">Category</label>
                            </fieldset>
                          </div>
                          <div class="col m1"></div>
                          <div class="profile__right_detail col s12 m5">
                            <fieldset class="form__inputWrapper">
                              {{productForm.sub_category | add_class:"form__input browser-default" }}
                              <label class="form__label">Sub Category</label>
                            </fieldset>
                          </div>
                      </div>
          
          
                        
                      <div class="profile__right_wrapDetail row s12 m12">
                        <div class="profile__right_detail col s12 m11">
                          <fieldset class="form__inputWrapper">
                            {{  productForm.description| add_class:"form__input" |attr:"required" }}
                            <label class="form__label">Description</label>
                          </fieldset>
                        </div>
                    </div>
          
          
                          <label>
                            {{  productForm.show_contact| add_class:"form__input" |attr:"type:checkbox" }}
                            <span>Show Your Phone Number</span>
                          </label>
                    
          
          
          
            </div>
                     
                </div>
                <div class="profile__right_buttons col s12 m4">
                  <div class="waves-effect waves-light btn">
                    <input type="submit" class="form__btn " value="Update Product"/>
                  </div>
              
              </div>
            
            
            
            </form>
     


           
          </div>
   



    
    </div>
</section>




{%endblock content%}