{%extends 'base.html' %}
{% load static %}
{% block content%}
<section class="profile row col s12 m12">
    {%include 'user-dashboard-sidebar.html'%}
    <div class="profile__right col s12 m9">
        <h6 class="profile__right_title">Comments</h4>
        <div class="profile__right_wrap row col s12 m12">

            <!-- Loop -->
            {%for p in prod%}
              {%for c in p.ques.all %}
              {% if not c.answer%}
          <div class="ads__wrap row col s12 m12">
            <div class="ads__contentWrap col s12 m8">
              <img src="{{p.photo.url}}" />
              <div class="ads__content">
                <div class="ads__contentTop">
                <h3>Comment: {{ c.question }}</h3>
                <h3 style="margin-top: 10px;"><span style="color: #9DC88D;">Answer: </span>{{ c.answer }}</h3>
              </div>
              <div class="ads__contentDown">
                <p>Commented on {{ c.publish_date }} by {{ p.user.first_name }}</p>
              </div>
              </div>
            </div>
            <div class="ads__buttonWrap col s12 m4">
    
                <a style="background-color: #F1B24A;" class="modal-trigger waves-effect waves-light btn" href="{% url 'productMS:reply' c.pk %}">Reply</a>
    
    
            </div>
          </div>
            {% endif %}
                {%endfor%}

          {%endfor%}
          <!-- endloop -->



        </div>
    
    </div>
    </section>


                        <!-- Modal Structure -->
                    <div id="edit" class="modal">
                      <div class="modal-content">
                        <h4>Edit</h4>
                        <p>Are You sure you want to delete product  ?</p>
                      </div>
                      <div class="modal-footer">
                        <a href="#!"  class="modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        
                      </div>
                    </div>
                    <!-- End of Modal -->
   


{%endblock content%}