{%extends 'base.html' %}
{% load static %}
{% block content%}
<section class="home">
 
  {%include 'search.html'%}
   
    <div class="sliders">
     <div class="carousel carousel-slider">
       {%for b in ban%}
       <a class="carousel-item" href="{{ b.url }}"><img src="{{ b.photo.url }}"></a>
       {% endfor %}
     </div>
    </div>
   
    <!-- Listings start-->
    <div class="titles">
     <h2>Sustainable Products</h2>
     <a href="{% url 'productMS:premium-products' %}">
     <h3>See All</h3>
     <i class="material-icons">arrow_forward</i>
   </a>
    </div>
   
    <div class="wrapCard row">
      {% for p in prodPrem%}
    <!-- Card -->
    <div class="pCard col s6 m3">
      <div class="pCard__image">
        <a href="{% url 'productMS:single-product' p.slug %}" class="pCard__imageWrap">
        <img src="{{p.photo.url}}">
        </a>
        <div class="pCard__imageTick">
          <i class="material-icons">check_circle</i>
          <p>{{p.warranty}} months warranty included</p>
        </div>
      </div>
      <a href="{% url 'productMS:single-product' p.slug %}">
      {% if not p.sold %}
      <h5>{{p.name}}</h5>
      {% else %}
      <h5>{{p.name}} <span style="color: #DC3544;">(Sold Out)</span></h5>
      {% endif %}
      <h4>Rs. {{p.price}}</h4>
     </a>
    </div>
    <!-- End of Card -->

    {%endfor%}
 
 
     
   </div>
   
    <!-- Listings end-->
   
     <!-- Listings start-->
     <div class="titles" style="margin-top: 60px;">
       <h2>Latest Listings</h2>
       <a href="{% url 'productMS:latest-products' %}">
       <h3>See All</h3>
       <i class="material-icons">arrow_forward</i>
     </a>
      </div>
     
      <div class="wrapCard row">

        {%for p in prodLat%}
      <!-- Card -->
      <div class="pCard col s6 m3">
        <div class="pCard__image">
          <a href="{% url 'productMS:single-product' p.slug %}" class="pCard__imageWrap">
          <img src="{{p.photo.url}}">
          </a>
        </div>
        <a href="{% url 'productMS:single-product' p.slug %}">
          {% if not p.sold %}
          <h5>{{p.name}}</h5>
          {% else %}
          <h5>{{p.name}} <span style="color: #DC3544;">(Sold Out)</span></h5>
          {% endif %}
        <h4>Rs. {{p.price}}</h4>
       </a>
      </div>
      {%endfor%}
      <!-- End of Card -->
      
       
     </div>
     
      <!-- Listings end-->
   
   
   
    <!-- Listings start-->
    <div class="titles" style="margin-top: 60px;">
     <h2>Recommended For You</h2>

    </div>
   
    <div class="wrapCard row">
      {%for p in prodRecom%}
    <!-- Card -->
    <div class="pCard col s6 m3">
      <div class="pCard__image">
        <a href="{% url 'productMS:single-product' p.slug %}" class="pCard__imageWrap">
        <img src="{{p.photo.url}}">
        </a>
      </div>
      <a href="{% url 'productMS:single-product' p.slug %}">
        {% if not p.sold %}
        <h5>{{p.name}}</h5>
        {% else %}
        <h5>{{p.name}} <span style="color: #DC3544;">(Sold Out)</span></h5>
        {% endif %}
      <h4>Rs. {{ p.price }}</h4>
     </a>
    </div>
    <!-- End of Card -->
    {%endfor%}

 
     
   </div>
   
    <!-- Listings end-->
   
   
   
   
   
    
   </section>

  {%endblock content%}