{%extends 'admin-base.html'%}
{% load static %}
{% block content%}
{%include 'admin-nav.html' with active="product"%}
<section>
  {% for message in messages %}
  <div id="messages" class="success__box">{{ message }}</div>
{%endfor%}
    <div class="row">
        <div id="admin" class="col s12">
          <div class="card material-table">
            <div class="table-header">
              <span class="table-title">Products</span>
              <div class="actions">
                <a href="{% url 'productMS:admin-products-add' %}" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">add_shopping_cart</i></a>
                <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
              </div>
            </div>
            <table id="datatable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Customer Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Publish Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  {% for p in product%}
                <tr>
                  <td>{{ p.name }} </td>
                  <td>{{ p.user.first_name }}</td>
                  <td>{{p.price}}</td>
                  <td>{{ p.category.category_name }}</td>
                  <td>{{ p.publish_date }}</td>
                  <td><a href="{%url 'productMS:admin-products-edit' p.pk%}"><i class="material-icons" style="font-size: 1.3rem;padding-right: 3px;">edit</i></a> <a class="modal-trigger" href="#{{ p.pk }}"><i class="material-icons" style="font-size: 1.3rem;padding-right: 3px; color: #E54B4B !important;">delete</i></a></td>
                    <!-- Modal Structure -->
                  <div id="{{ p.pk }}" class="modal">
                    <div class="modal-content">
                      <h4>Delete</h4>
                      <p>Are You sure you want to delete product  {{ p.name }} ?</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                      <a href="{%url 'productMS:admin-products-delete' p.pk%}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                      
                    </div>
                  </div>
                  <!-- End of Modal -->

                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>

</section>
{%endblock content%}