body{
    width: 100%;
}
header{
    width: 85%;  
    margin: 0px auto;

    margin-bottom: 20px;
}

.top{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
}
.top__right{
    display: flex;
    align-items: center;
}
.top__right a{
    margin-left: 20px;
}
.top__right img{
    height: 20px;
    display: flex;
    align-self: center;
}
.nav{
    margin-top: 15px;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(157, 200, 141, 0.22);
}
.nav__logo{
    height: 30px;
    margin-left: 30px;
}
.nav__logo img{
  height: 100%;
}
.nav__list{
    display: flex;
    align-items: center;
    position: relative;

}
.nav__item{
    margin-left: 20px;
}
.nav__item a{
    font-family: 'SF Compact Rounded';
    font-weight: bolder;
    font-size: 18px;
    color: $primary-color;
}
.nav__item--active{
    height: 65px;
    line-height: 65px;
   
    border-bottom: 3px solid $primary-color3;
}
.nav__cto{
  
    margin-left: 20px;
    height: 40px;
    width: 90px;
}
.nav__cto a{
    color: $primary-color4;
}
.nav__list .btn{
    background-color: $primary-color2;
    box-shadow: none;
    border-radius: 5px;
}
.nav__list .btn:hover{
    background-color: $primary-color2;
    box-shadow: none;
}

.drop-down{
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-left: 20px;
}

.drop-down__button{
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.drop-down__image {
    font-size: 9px;
    text-transform: uppercase;
    color: $primary-color4;
    font-weight: 800;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  
}



.drop-down__menu-box {
    position: absolute;
    width: 160px;
    left: -100%;
    right: 100%;
    top:45px;
    background-color: $primary-color4;
    border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
     transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
 visibility: hidden;
opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
 
  
}
.drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid $primary-color4;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;

}

.drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

.drop-down__item {
    font-size: 13px;
    padding: 13px 10px 13px 20px;
    text-align: left;
    font-weight: 500;
    color: $primary-color;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;
  
}

.drop-down__item:hover .drop-down__item-icon{
  fill: $primary-color;
}

.drop-down__item:hover{
  color: $primary-color;
}



.drop-down__item:last-of-type{
  border-bottom: 0;
}


.drop-down--active .drop-down__menu-box{
visibility: visible;
opacity: 1;
  margin-top: 15px;
}

.drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: $primary-color;
left: 5px;
top: 50%;
transform: translateY(-50%);
  display:none;
}

.drop-down__item:hover:before{
  display:block;
}