
//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font     : 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #164A41;
$primary-color2	: #4D774E;
$primary-color3	: #F1B24A;
$primary-color4 : #FFFFFF;
$link-color: #9DC88D;
$text-color		: #000000;

$error_box : #DC3544;
$success_box : #27A844;



/*--------------------------- Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');





