{%extends 'admin-base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block content%}
{%include 'admin-nav.html'%}

<section class="profile row col s12 m12">
  <div class="profile__right col s12 m12">
      <h6 class="profile__right_title">Change Password</h6>
      <div class="s12 m12" style="margin-bottom: 5px;">
        <a href="{% url 'userMS:admin-profile' %}" class="sublink">My Profile</a>
        <span>/</span>
        <a href="#!" class="sublink" style="font-weight: 600;">Change Password</a>
      </div>
      {%for key, value in form.errors.items%}
      {% for error in value %}
        <div class="error__box">{{ error }}</div>
        {% endfor %}
      {%endfor%}
            <form class="form" method="POST">
              {% csrf_token %}
              <fieldset class="form__inputWrapper">	
                {{  form.old_password | add_class:"form__input" |attr:"required"|attr:"type:password" }}
                <label class="form__label">Old Password</label>
                <i id ="eye" class="small material-icons" onclick="Toggle4()">visibility</i>
              </fieldset>
              <fieldset class="form__inputWrapper">	
                {{  form.new_password1| add_class:"form__input form__password-active" |attr:"required"|attr:"type:password" }}
                <label class="form__label">New Password</label>
                <i id ="eye2" class="small material-icons" onclick="Toggle5()">visibility</i>
                <div class="form__password_warning"><li>8 characters long</li><li>Don't use common password</li></div>
              </fieldset>
              <fieldset class="form__inputWrapper">	
                {{  form.new_password2 | add_class:"form__input" |attr:"required"|attr:"type:password" }}
                <label class="form__label">Confirm Password</label>
                <i id ="eye3" class="small material-icons" onclick="Toggle6()">visibility</i>
              </fieldset>
              <div class="waves-effect waves-light btn">
                <input type="submit" class="form__btn " value="Change Password"/>
              </div>
            </div>
              </form>
  
  
  </div>
  </section>


  {%endblock content%}