@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

/*--------------------------- Color variations ----------------------*/
/*--------------------------- Fonts ----------------------*/
a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'SF Pro Display';
  font-weight: 400;
}

.sublink {
  color: #9DC88D;
}

p {
  margin: 0;
  font-family: 'SF Pro Display';
  font-weight: bold;
}

.primary__color {
  color: #164A41;
}

.error__box {
  background-color: #DC3544;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: 'Sf Pro Display';
}

.success__box {
  background-color: #27A844;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  font-family: 'Sf Pro Display';
}

body {
  width: 100%;
}

header {
  width: 85%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.top {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__right a {
  margin-left: 20px;
}

.top__right img {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav {
  margin-top: 15px;
  height: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 20px rgba(157, 200, 141, 0.22);
          box-shadow: 0px 3px 20px rgba(157, 200, 141, 0.22);
}

.nav__logo {
  height: 30px;
  margin-left: 30px;
}

.nav__logo img {
  height: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 30px;
}

.nav__item {
  margin-left: 20px;
}

.nav__item a {
  font-family: 'SF Compact Rounded';
  font-weight: bolder;
  font-size: 18px;
  color: #164A41;
}

.nav__item--active {
  height: 65px;
  line-height: 65px;
  border-bottom: 3px solid #F1B24A;
}

.nav__cto {
  margin-left: 20px;
  height: 40px;
  width: 90px;
}

.nav__cto a {
  color: #FFFFFF;
}

.nav__list .btn {
  background-color: #4D774E;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list .btn:hover {
  background-color: #4D774E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.drop-down {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

.drop-down__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  cursor: pointer;
}

.drop-down__image {
  font-size: 9px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
  height: 40px;
  width: 40px;
}

.drop-down__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.drop-down__icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 14px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.drop-down__menu-box {
  position: absolute;
  width: 160px;
  left: -100%;
  right: 100%;
  top: 45px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
  z-index: 9;
}

.drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}

.drop-down__menu-box:before {
  content: '';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}

.drop-down__menu-box:after {
  content: '';
  background-color: transparent;
}

.drop-down__item {
  font-size: 13px;
  padding: 13px 10px 13px 20px;
  text-align: left;
  font-weight: 700;
  color: #164A41;
  font-family: 'SF Pro Display Bold';
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
}

.drop-down__itemLink {
  font-weight: 700;
  font-family: 'SF Pro Display Bold';
  color: #164A41;
}

.drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  fill: #8995b6;
}

.drop-down__item:hover .drop-down__item-icon {
  fill: #164A41;
}

.drop-down__item:hover {
  color: #164A41;
}

.drop-down__item:last-of-type {
  border-bottom: 0;
}

.drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
}

.drop-down__item:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #164A41;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.drop-down__item:hover:before {
  display: block;
}

.navMobile__cto {
  display: none;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
}

@media only screen and (max-width: 420px) {
  .nav__cto {
    display: none !important;
  }
  .navMobile__cto {
    display: block;
    position: fixed;
    width: 130px !important;
    height: 50px !important;
    line-height: 2.6;
    bottom: 40px;
    right: 30px;
    background-color: #4D774E;
    border-radius: 25px;
  }
  .navMobile__cto a {
    color: #FFFFFF;
    font-family: 'SF Pro Display Bold';
    font-size: 1.4rem;
  }
}

.form {
  width: 100%;
  padding: 0;
  margin: 10px 0;
}

.form .form__inputWrapper {
  position: relative;
  margin-bottom: 15px;
  padding: 8px 0;
  margin: 0;
}

.form .form__inputWrapper .form__input {
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding-left: 25px;
  border: 1px solid #C3C3C3;
  font-size: 18px;
  font-family: 'Sf Pro Display';
  color: rgba(0, 0, 0, 0.87);
}

.form .form__inputWrapper .form__input:focus {
  outline: none;
  border: 2px solid #4D774E;
}

.form .form__inputWrapper .form__input:focus ~ .form__label,
.form .form__inputWrapper .form__input:valid ~ .form__label {
  padding: 0 4px;
  top: -5px;
  background: #fff;
  font-size: 14px;
  color: #4D774E;
}

.form .form__inputWrapper .form__input:hover {
  cursor: pointer;
}

.form .form__inputWrapper .form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 16px;
  font-family: 'Sf Pro Display';
  top: 23px;
  left: 20px;
  pointer-events: none;
  color: #C3C3C3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form .form__btn {
  margin-top: 4px;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
}

.form input[type="submit"] {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 55px;
  font-family: 'SF Pro Display';
  font-weight: bold;
}

.form .btn {
  margin-top: 4px;
  color: #FFFFFF;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  background-color: #4D774E;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
}

.form .btn:hover {
  background-color: #4D774E;
}

input:focus {
  border-bottom: 2px solid #4D774E !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form__inputWrapper i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 23px;
  right: 20px;
  cursor: pointer;
  color: #C3C3C3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__password_warning {
  color: #164A41;
  font-family: 'Sf Pro Display';
  display: none;
  opacity: 1;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

.form__password_warning.hide {
  opacity: 0;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.login__title {
  font-family: 'SF Compact Rounded';
  font-weight: bolder;
  color: #164A41;
  margin: 10px 0;
}

.login__subTitle {
  font-size: 16px;
  font-family: 'SF Pro Display Bold';
  margin: 15px 0;
}

.login__forgotPassword {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Sf Pro Display';
  font-weight: bold;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.register__title {
  font-family: 'SF Compact Rounded';
  font-weight: bolder;
  color: #164A41;
  margin: 10px 0;
}

.register__subTitle {
  font-size: 16px;
  font-family: 'SF Pro Display Bold';
  margin: 15px 0;
}

.register__forgotPassword {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Sf Pro Display';
  font-weight: bold;
}

.register .row {
  width: 100%;
}

.register .col .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.register .row .col {
  padding: 0 5px 0 5px;
}

.register .row .col.s6 {
  padding: 5px 8px 10px 8px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .register {
    width: 100%;
  }
}

.profile {
  width: 85%;
  margin: 0px auto;
}

.profile.row {
  padding: 0;
}

.profile__left.col {
  height: 200px;
  padding-left: 30px;
  padding-top: 20px;
}

.profile__right.col {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.profile__left h6 {
  font-size: 16px;
  font-family: 'Sf Pro Display Bold';
  padding-bottom: 10px;
}

a.profile__left_link {
  color: #61645F;
  padding-left: 14px;
}

a.active {
  color: #9DC88D;
}

.profile__left_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.profile__right h6 {
  font-size: 16px;
  font-family: 'Sf Pro Display';
  font-weight: 900;
  color: #164A41;
  padding-bottom: 10px;
}

.row.profile__right_wrap {
  padding: 0;
  margin: 0;
}

.profile__right_wrap .col {
  padding: 0;
}

.profile__right_image {
  padding-right: 5px;
}

.profile__right_image img {
  width: 80%;
  border-radius: 5px;
  padding-bottom: 10px;
}

.profile__right_wrapDetail {
  margin-left: 20px;
}

.profile__right_detail h6 {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  color: #645C5C;
  font-size: 0.875rem;
  font-family: 'Sf Compact Display';
}

.profile__right_detail p {
  color: #000;
  font-size: 1rem;
  font-family: 'Sf Compact Display';
}

.profile__right_buttons.row {
  margin-left: 10px;
}

.profile__right_button {
  margin-left: 20px;
  height: 3rem;
  width: 15.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__right_button a {
  color: #FFFFFF;
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Sf Pro Display';
}

.btn.profile__right_button {
  background-color: #4D774E;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
}

.btn.profile__right_button:hover {
  background-color: #4D774E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile__right .form {
  width: 20rem;
  margin-bottom: 30px;
}

form .profile__right {
  margin: 0;
  padding: 0;
}

.form .profile__right_wrapDetail {
  margin-bottom: 0px;
}

.profile__right_buttons .btn {
  margin-top: 20px;
  font-size: 0.95rem;
}

.file-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  position: relative;
}

.file-field .btn {
  height: 30px;
  width: 80%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.file-field .file-path-wrapper {
  padding: 0;
  width: 80%;
  margin: 0;
}

input.file-path.validate {
  height: 2em;
}

.file-field-hide {
  color: transparent;
}

.file-field-hide a {
  color: transparent;
}

.file-field label {
  color: transparent;
}

.file-field span {
  position: absolute;
}

.home {
  width: 85%;
  margin: 0 auto;
}

.home .row .col {
  padding: 0;
  margin: 0;
}

.bar {
  margin-top: 30px !important;
}

.bar__searchbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4D774E;
  border-radius: 5px;
  margin-bottom: 10px !important;
  height: 50px;
}

.bar__search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.bar__searchbar i {
  padding-left: 10px;
  padding-right: 10px;
}

.bar__searchbar .bar__search input[type=search] {
  height: 90%;
  width: 80%;
  border-bottom: none;
  margin: 0;
}

.bar__searchbar .bar__search input[type=search]:focus {
  outline: none !important;
  border-bottom: none !important;
}

.bar__searchbar .bar__search input[type=submit] {
  height: 100%;
  width: 20%;
  background-color: #4D774E;
  color: #fff;
  font-family: 'Sf Pro Display';
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-right: 20px !important;
  height: 55px;
  width: 30%;
  margin-bottom: 10px !important;
  padding-bottom: 10px;
  font-family: 'Sf Pro Display';
}

.dropdown {
  background: #4D774E;
  color: #fff;
  position: relative;
  padding: 13px;
  border-radius: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.rot {
  position: absolute;
  top: 12px;
  right: 10px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.8rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.rotate-dropdown-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  z-index: 1;
  background: #4D774E;
  color: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.dropdown-menu a {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.dropdown-menu a:last-child {
  border: none;
}

.dropdown-menu a:hover {
  background: rgba(238, 238, 238, 0.363);
}

#openDropdown:checked + .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: openDropDown 0.4s ease;
          animation: openDropDown 0.4s ease;
}

@-webkit-keyframes openDropDown {
  from {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes openDropDown {
  from {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.carousel .carousel-item > img {
  height: 380px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 35px;
}

.titles h2 {
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  font-family: 'Sf Pro Display';
  font-weight: 900;
  border-right: 3px solid #F5F5F5;
  padding-right: 10px;
  margin-right: 10px;
}

.titles a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.titles a h3 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 1.5rem;
  font-family: 'Sf Pro Display';
  font-weight: 900;
  margin-right: 5px;
}

.titles a h3:hover {
  text-decoration: underline;
}

.wrapCard {
  margin-top: 25px;
}

.wrapCard .col {
  padding: 3px !important;
}

.pCard {
  height: auto;
  width: 22%;
  border-radius: 5px;
}

.pCard__image {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.pCard__imageWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pCard__image .pCard__wishlist {
  position: absolute;
  color: #F1B24A;
  right: 20px;
  top: 20px;
}

.pCard__image .pCard__wishlist i {
  font-size: 1.8rem;
}

.pCard__image .pCard__imageWrap img {
  width: 90%;
  height: 100%;
  border-radius: 5px;
}

.pCard__imageTick {
  position: absolute;
  color: #9DC88D;
  left: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background-color: rgba(34, 32, 32, 0.308);
}

.pCard__imageTick i {
  font-size: 1rem;
  padding-right: 5px;
}

.pCard__imageTick p {
  font-size: 0.9rem;
  font-family: 'Sf Pro Display';
}

.pCard h5 {
  margin-top: 5px;
  color: #283747;
  font-size: 1.3rem;
  font-family: 'Sf Pro Display';
}

.pCard h4 {
  margin-top: 5px;
  font-size: 1.6rem;
  color: #000;
  font-family: 'Sf Pro Display';
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .dropdown-container {
    padding-right: 0 !important;
  }
  .carousel {
    height: 180px;
  }
  .carousel .carousel-item > img {
    height: 180px;
  }
}

.item__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 380px;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 30px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__main-img {
  height: 100%;
}

.item__main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item__side-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 4%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}

.item__side-img img {
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mdl {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.mdl-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  height: 500px;
  margin-bottom: -4px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.sinPage__top .col.push-m1 {
  left: 2.5% !important;
}

.sinPage__topRight {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sinPage__price {
  height: 205px;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 15px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.sinPage__priceTop {
  height: 70px;
}

.sinPage__priceTop h4 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Sf Pro Display';
  color: #283747;
}

.sinPage__priceTop h3 {
  margin: 0;
  padding-top: 8px;
  font-size: 1.8rem;
  font-family: 'Sf Pro Display';
  font-weight: bold;
  color: #283747;
}

.sinPage__priceDown {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sinPage__priceDown p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-family: 'Sf Compact Display';
  color: #283747;
  padding-top: 5px;
}

.sinPage__priceDown p i {
  padding-right: 6px;
  font-size: 1.2rem;
  color: #283747;
}

.sinPage__wishlist {
  position: absolute;
  right: 25px;
  top: 15px;
}

.sinPage__wishlist i {
  font-size: 2.2rem;
  color: #F1B24A;
}

.sinPage__seller {
  height: 145px;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 15px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sinPage__sellerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sinPage__sellerTopLeft h4 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Sf Pro Display';
  color: #283747;
  font-weight: bold;
}

.sinPage__sellerTopRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sinPage__sellerTopRight p {
  padding-right: 10px;
  font-size: 0.8rem;
  font-family: 'Sf Compact Display';
  color: #283747;
}

.sinPage__sellerTopRight img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.sinPage__sellerDown p {
  font-size: 0.8rem;
  font-family: 'Sf Compact Display';
  color: #283747;
  padding-top: 5px;
}

.sinPage__btm {
  height: 400px;
}

.sinPage__btmDes {
  padding: 5px 30px 30px 30px;
  background-color: #FAFAFA;
  height: auto;
  border-radius: 5px;
}

.sinPage__btmDes h4 {
  font-size: 1.3rem;
  font-family: 'Sf Pro Display';
  font-weight: 900;
  color: #283747;
}

.sinPage__btmQue {
  margin-top: 20px;
  padding: 5px 30px 30px 30px;
  background-color: #FAFAFA;
  height: auto;
  border-radius: 5px;
}

.sinPage__btmQue h4 {
  font-size: 1.3rem;
  font-family: 'Sf Pro Display';
  font-weight: 900;
  color: #283747;
}

.sinPage__btmQue p {
  padding: 3px 0px;
}

.sinPage__btmQue p span {
  color: #4D774E;
}

.sinPage__btm .col.push-m1 {
  left: 2.5% !important;
}

.sinPage__btmRight {
  background-color: #FAFAFA;
  height: inherit;
}

.sinPage__askbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4D774E;
  border-radius: 5px;
  margin-bottom: 20px !important;
  height: 50px;
}

.sinPage__askbar form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.sinPage__askbar form input[type=text] {
  height: 90%;
  width: 80%;
  border-bottom: none;
  margin: 0;
  padding-left: 20px;
}

.sinPage__askbar form input[type=text]:focus {
  outline: none !important;
  border-bottom: none !important;
}

.sinPage__askbar form input[type=submit] {
  height: 100%;
  width: 20%;
  background-color: #4D774E;
  color: #fff;
  font-family: 'Sf Pro Display';
  font-size: 1.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  .sinPage__top .col.m3 {
    width: 30%;
  }
  .sinPage__btm .col.m3 {
    width: 30%;
  }
}

.ads__wrap {
  height: auto;
  border: 1px solid #CECECE;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ads__contentWrap {
  height: 100%;
  padding: 5px !important;
  padding-left: 15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ads__contentWrap img {
  height: 7rem;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ads__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.ads__contentTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ads__wrapSold {
  margin-left: 20px;
  margin-top: 8px;
}

.ads__wrapSold a {
  text-decoration: none;
  background-color: #9DC88D;
  color: black;
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  font-size: 0.8rem;
  font-family: 'Sf Pro Display';
}

.ads__contentTop h2 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.6rem;
  font-family: 'Sf Pro Display';
  font-weight: bold;
}

.ads__contentTop h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Sf Pro Display';
}

.ads__contentDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ads__contentDown p {
  font-size: 0.9rem;
  font-family: 'Sf Pro Display';
  font-weight: 100;
  padding-right: 20px;
}

.ads__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  margin-top: 40px;
}

.ads__buttonWrap .btn {
  height: 40px !important;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 5px !important;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .ads__contentTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ads__wrapSold {
    margin-left: 0;
  }
  .ads__contentDown {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ads__buttonWrap {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.blog {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.blog__top {
  width: 80%;
}

.blog__top h1 {
  color: #283747;
  font-size: 4.8rem;
  font-family: 'Sf Pro Display';
  font-weight: bold;
}

.blog__image {
  width: 80%;
}

.blog__image img {
  width: 100%;
}

.blog__des {
  margin-top: 20px;
  width: 80%;
}

.blog__des p {
  font-family: 'Sf Pro Display';
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  word-spacing: 1px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .blog__top h1 {
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=style.css.map */