.ads__wrap{
    height: auto;
    border: 1px solid #CECECE;
    border-radius: 5px;
    margin-bottom: 20px;
}

.ads__contentWrap{
    height: 100%;
    padding : 5px !important;
    padding-left: 15px !important;
    display: flex;

}

.ads__contentWrap img{
    height: 7rem;
    border-radius: 5px;
    align-self: center;
}

.ads__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 15px;
}
.ads__contentTop{
    display: flex;
    flex-direction: row;
}
.ads__wrapSold{
    margin-left: 20px;
    margin-top: 8px;
}
.ads__wrapSold a{
    text-decoration: none;
    background-color: $link-color;
    color: black;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    font-size: 0.8rem;
    font-family: 'Sf Pro Display';
}

.ads__contentTop h2{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.6rem;
    font-family: 'Sf Pro Display';
    font-weight: bold;

}
.ads__contentTop h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Sf Pro Display';

}
.ads__contentDown{
    display: flex;
    flex-direction: row;

}
.ads__contentDown p{
    font-size: 0.9rem;
    font-family: 'Sf Pro Display';
    font-weight: 100;
    padding-right: 20px;
}

.ads__buttonWrap{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-top: 40px;
}
.ads__buttonWrap .btn{
    height: 40px !important;
    width: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
    margin-right: 15px !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .ads__contentTop{
        flex-direction: column;
    }
    .ads__wrapSold{
        margin-left: 0;
    }
    .ads__contentDown{
        margin-top: 20px;
        flex-direction: column;
    }
    .ads__buttonWrap{
        margin-top: 15px;
        margin-bottom: 15px;
    }
  }

