.form{
    width: 100%;
    padding: 0;
    margin: 10px 0;
}
.form .form__inputWrapper {
    position: relative;
    margin-bottom: 15px;
    padding: 8px 0;
    margin: 0;
    
  }
  .form .form__inputWrapper .form__input {
    height: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 25px;
    border: 1px solid #C3C3C3;
    font-size: 18px;
    font-family: 'Sf Pro Display';
    color: rgba(0, 0, 0, 0.87);

  }
  .form .form__inputWrapper .form__input:focus {
    outline: none;
    border: 2px solid $primary-color2;
  }
  .form .form__inputWrapper .form__input:focus ~ .form__label,
  .form .form__inputWrapper .form__input:valid ~ .form__label {
    padding: 0 4px;
    top: -5px;
    background: #fff;
    font-size: 14px;
    color: $primary-color2;
  }
  .form .form__inputWrapper .form__input:hover {
    cursor: pointer;
  }
  .form .form__inputWrapper .form__label {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 16px;
    font-family: 'Sf Pro Display';
    top: 23px;
    left: 20px;
    pointer-events: none;
    color: #C3C3C3;
    transition: all 0.2s ease-in-out;
  }
  .form .form__btn{
      margin-top: 4px;
      width: 100%;
     
      color: $primary-color4;
      cursor: pointer;
      width: 100%;

  }
  .form input[type="submit"]{
    outline: none !important;
    box-shadow: none !important;
    height: 55px;
    font-family: 'SF Pro Display';
    font-weight: bold;
    
  }
  .form .btn{
      margin-top: 4px;
      color: $primary-color4;
      width: 100%;
      height: 55px;
      border-radius: 5px;
      background-color: $primary-color2;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-transform: none;
  }
  .form .btn:hover{
    background-color: $primary-color2;
  }
input:focus{
    border-bottom: 2px solid $primary-color2 !important;
    box-shadow: none !important;
  }
  .form__inputWrapper i{
    display: flex;
    align-items: center;
    position: absolute;
    top: 23px;
    right: 20px;
    cursor: pointer;
    color: #C3C3C3;
    transition: all 0.2s ease-in-out;
      
    }
    .form__password_warning{
      color: $primary-color;
      font-family: 'Sf Pro Display';
      display: none;
      opacity: 1;
      transition: opacity 0.8s ease-in-out;
    }
  .form__password_warning.hide{
      opacity: 0;
    }