
a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'SF Pro Display';
    font-weight: 400;
}
.sublink{
    color: $link-color;
}
p{
    margin: 0;
    font-family: 'SF Pro Display';
    font-weight: bold;
}
.primary__color{
    color: $primary-color;
}