{%extends 'base.html' %}
{% load static %}
{% block content%}

       <section class="profile row col s12 m12">
        <div class="profile__left col s12 m3">
            <h6 class="profile__left_title">Manage My Account</h6>
                <a class="sublink profile__left_link active" href="{% url 'userMS:dashboard' %}">My Profile</a>
                
        </div>
        <div class="profile__right col s12 m9">
            <h6 class="profile__right_title">Change Email</h6>
            <div class="s12 m12" style="margin-bottom: 5px;">
              <a href="{% url 'userMS:dashboard' %}" class="sublink">My Profile</a>
              <span>/</span>
              <a href="{% url 'userMS:edit-profile' %}" class="sublink">Edit Profile</a>
              <span>/</span>
              <a href="#!" class="sublink" style="font-weight: 600;">Change Email</a>
            </div>
            {% for message in messages %}
            <div class="error__box">{{ message }}</div>
            {%endfor%}
                  <form class="form" method="POST">
                    {% csrf_token %}
                      <fieldset class="form__inputWrapper">	
                        <input type="email" class="form__input" name="email" inputmode="numeric" required/>
                        <label class="form__label">New Email</label>
                      </fieldset>
                      <div class="waves-effect waves-light btn">
                        <input type="submit" class="form__btn " value="Change Email"/>
                      </div>
                    </div>
                    </form>
        
        
        </div>
        </section>
{%endblock content%}