{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}

<section class="register">
  <h2 class="register__title">Hello</h2>
  <h4 class="register__subTitle">Register in <span class="primary__color">Hariyo Bazar</span></h4>
  {%for key, value in form.errors.items%}
  {% for error in value %}
    <div class="error__box">{{ error }}</div>
    {% endfor %}
  {%endfor%}
  <div class="row">
  <form class="form col s12" action="{%url 'userMS:register'%}" method="POST">
    {% csrf_token %}
    <div class="row">
      <fieldset class="form__inputWrapper col s6">  
        {{  form.first_name | add_class:"form__input" |attr:"required"|attr:"type:text"}}
        <label class="form__label">First Name</label>
      </fieldset>
      <fieldset class="form__inputWrapper col s6">  
        {{  form.last_name | add_class:"form__input" |attr:"required"|attr:"type:text" }}
        <label class="form__label">Last Name</label>
      </fieldset>
    </div>

    <div class="row">
    <fieldset class="form__inputWrapper col s6">  
      {{  form.email | add_class:"form__input" |attr:"required"|attr:"type:email" }}
      <label class="form__label">Email</label>
    </fieldset>
    <fieldset class="form__inputWrapper col s6">  
      {{  form.username | add_class:"form__input" |attr:"required"|attr:"type:text"|remove_attr:"autofocus" }}
      <label class="form__label">Username</label>
    </fieldset>
  </div>

  <div class="row">
    <fieldset class="form__inputWrapper col s6">  
      {{  form.password1 | add_class:"form__input form__password-active" |attr:"required"|attr:"type:password"|attr:"minlength:8" }}
      <label class="form__label">Password</label>
      <i id ="eye2" class="small material-icons" onclick="Toggle2()">visibility</i>
      <div class="form__password_warning"><li>8 characters long</li><li>Don't use common password</li></div>
    </fieldset>
    <fieldset class="form__inputWrapper col s6">  
      {{  form.password2 | add_class:"form__input" |attr:"required"|attr:"type:password"|attr:"minlength:8" }}
      <label class="form__label">Confirm Password</label>
      <i id ="eye3" class="small material-icons" onclick="Toggle3()">visibility</i>
    </fieldset>
  </div>

  <div class="row">
    <fieldset class="form__inputWrapper col s6">
      {{  form2.dob | add_class:"form__input datepicker" |attr:"required"|attr:"type:text" }}  
      <label class="form__label">DOB</label>
    </fieldset>
    <fieldset class="form__inputWrapper col s6">
      {{form2.gender | add_class:"form__input browser-default"|attr:"required" }}
      <label class="form__label">Gender</label>
    </fieldset>
  </div>
<p style="font-size: 14px; padding-left: 10px; margin-bottom: 20px;">By Registering, you agree that you’ve read and accepted our<a class="sublink"> User Agreement.</a></p>
    <div class="waves-effect waves-light btn">
    <input type="submit" class="form__btn " value="Create Account"/>
  </div>
    </form>
    <p style="padding-left: 10px; margin-bottom: 20px;">Already have an account ?<a class="sublink" href="{% url 'userMS:login' %}"> Sign In</a></p>
  </div>
</section>

{%endblock content%}