{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
  .navMobile__cto{
  display: none;
}
</style>
<section class="login">
    <h2 class="login__title">Hello</h2>
    <h4 class="login__subTitle">Password reset link will be sent to the email address provided below</h4>
    {%for key, value in form.errors.items%}
    {% for error in value %}
      <div class="error__box">{{ error }}</div>
      {% endfor %}
    {%endfor%}
    <form class="form" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form__inputWrapper">	
        {{  form.email | add_class:"form__input" |attr:"required"|attr:"type:email" }}
        <label class="form__label">Email</label>
      </fieldset>
      <div class="waves-effect waves-light btn">
      <input type="submit" class="form__btn " value="Send"/>
    </div>
      </form>
  </section>

  {%endblock content%}