{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
  .navMobile__cto{
  display: none;
}
</style>
<section class="login">
    <h2 class="login__title">Email Sent</h2>
    <h4 class="login__subTitle" style="font-family: 'Sf Pro Display'; font-weight: 500; line-height: 1.5rem;text-align: center;">We’ve emailed you instructions for setting your password, if an 
        account exists with the email you entered. You should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you
         registered with, and check your spam folder.</h4>
    <a class="sublink login__forgotPassword" href="" style="align-self: center;">Back to Homepage</a>
  </section>

  {%endblock content%}