{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<section class="login">
    <h2 class="login__title">Hello</h2>
    <h4 class="login__subTitle">Please enter your new password twice so we can verify you typed it in correctly. </h4>
    {{ form.errors }}
    <form class="form" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form__inputWrapper">	
        {{  form.new_password1 | add_class:"form__input" |attr:"required"|attr:"type:password" }}
        <label class="form__label">New Password</label>
      </fieldset>
      <fieldset class="form__inputWrapper">	
        {{  form.new_password2 | add_class:"form__input" |attr:"required"|attr:"type:password" }}
        <label class="form__label">Confirm Password</label>
      </fieldset>
      <div class="waves-effect waves-light btn">
      <input type="submit" class="form__btn " value="Change Password"/>
    </div>
      </form>
  </section>

  {%endblock content%}