{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
  .navMobile__cto{
  display: none;
}
</style>
<section class="login">
    <h2 class="login__title" style="font-size: 26px;">Password Changed</h2>
    <h4 class="login__subTitle" style="font-family: 'Sf Pro Display'; font-weight: 500; line-height: 1.5rem;text-align: center;">Your password has been set. You may go ahead and log in now.</h4>
    <a class="sublink login__forgotPassword" href="{%url 'userMS:login'%}" style="align-self: center;">Login</a>
  </section>

  {%endblock content%}