{%extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<section class="login">
    <h2 class="login__title">Hello</h2>
    <h4 class="login__subTitle">Please enter your new password twice so we can verify you typed it in correctly. </h4>
    {%for key, value in form.errors.items%}
    {% for error in value %}
      <div class="error__box">{{ error }}</div>
      {% endfor %}
    {%endfor%}
    <form class="form" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form__inputWrapper">	
        {{  form.new_password1 | add_class:"form__input form__password-active" |attr:"required"|attr:"type:password" }}
        <label class="form__label">New Password</label>
        <i id ="eye2" class="small material-icons" onclick="Toggle5()">visibility</i>
        <div class="form__password_warning"><li>8 characters long</li><li>Don't use common password</li></div>
      </fieldset>
      <fieldset class="form__inputWrapper">	
        {{  form.new_password2 | add_class:"form__input" |attr:"required"|attr:"type:password" }}
        <label class="form__label">Confirm Password</label>
        <i id ="eye3" class="small material-icons" onclick="Toggle6()">visibility</i>
      </fieldset>
      <div class="waves-effect waves-light btn">
      <input type="submit" class="form__btn " value="Change Password"/>
    </div>
      </form>
  </section>

  {%endblock content%}